<main>
    Bienvenue sur l'admin !
</main>
<aside>
    <a href="{{ path('admin_articles_list') }}">Voir les articles</a>
    <a href="{{ path('admin_events_list') }}">Voir les évènements</a>
    <a href="{{ path('admin_pictures_list') }}">Voir les photos</a>
</aside>